*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #00ff2a, #006421);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .board {
    display: grid;
    width: 300px;
    height: 300px;
    border: 2px solid orange;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    }
    
    .board.x .cell:not(.x):not(.circle):hover::after,
    .board.x .cell:not(.x):not(.circle):hover::before,
    .board.circle .cell:not(.x):not(.circle):hover::after,
    .board.x .cell:not(.x):not(.circle):hover::before {
    background: rgba(255, 255, 255, 0.3) !important;
    }
    
    .cell {
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 3rem;
    color: orange;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    .cell.x,
    .cell.circle {
    cursor: not-allowed;
    }
    
    .cell:nth-child(1),
    .cell:nth-child(2),
    .cell:nth-child(3) {
    border-top: none;
    }
    
    .cell:nth-child(1),
    .cell:nth-child(4),
    .cell:nth-child(7) {
    border-left: none;
    }
    
    .cell:nth-child(7),
    .cell:nth-child(8),
    .cell:nth-child(9) {
    border-bottom: none;
    }
    
    .cell:nth-child(3),
    .cell:nth-child(6),
    .cell:nth-child(9) {
    border-right: none;
    }
    
    .cell.x::before,
    .cell.x::after,
    .board.x .cell:not(.x):not(.circle):hover::after,
    .board.x .cell:not(.x):not(.circle):hover::before {
    content: "";
    height: 50%;
    width: 90%;
    background: orange;
    position: absolute;
    transform: rotate(45deg);
    }
    
    .cell.x::after,
    .board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
    }
    
    .cell.circle::before,
    .cell.circle::after,
    .board.circle .cell:not(.x):not(.circle):hover::after,
    .board.circle .cell:not(.x):not(.circle):hover::after {
    content: "";
    height: 90%;
    width: 90%;
    background: orange;
    position: absolute;
    border-radius: 50%;
    }
    
    .winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    }

    .winning-message-button {
        font-size: 2.5rem;
        background-color: rgba(255, 0, 0, 1);
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        margin-top: 20px;
        color: orange;
        transition: all 0.3s ease-in-out;
        }
        
        .winning-message-button:hover {
        color: orange;
        background-color: rgba(65, 185, 131, 1);
        transform: translateY(-3px);
        }
        
        .winning-message-text {
        color: black;
        font-size: 6rem;
        text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
        margin-bottom: 30px;
        }
        
        .show-winning-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        }
